# IDE-specific files
/.idea
/.vs
# Builds
/out
/cmake-build-debug
# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
